html, body {
    background: #fff8ca;
    letter-spacing: -0.06rem;
}

body {
    padding-top: 70px;
}

h4, b {
    color: #cf453b;
}

.content-image {
    max-width: 70%;
}

.media-object {
    width: 32px;
}